#body {
  background-color: black;
}
#btn {
    display:flex;
    margin: auto;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  width: 300px;
  height: 50px;
  color: #ce8f1c;
  margin: auto;
  text-align: center;
  margin-top: 20rem;
  cursor: pointer;
  font-size:30px;
  font-family: Montserrat;
  font-style: normal;
}

.img {
  margin: auto;
  width: 400px;
  height: 300px;
}
.icon {
  width: 100px;
  margin-right: 2rem;
}
#Search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4.83968px 5.27965px;
  margin-left: 1rem;
  justify-content: flex-end;
  position: static;
  width: 380px;
  height: 30px;
  left: 0px;
  top: 0px;
  background: #fffffe;
  border: 0.439971px solid #fed941;
  box-sizing: border-box;
  border-radius: 3.51977px 0px 0px 3.51977px;
}
#form {
  display: flex;
  text-align: center;
}
#BTN {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4.39971px 10.5593px;
  position: static;
  width: 40px;
  height: 32px;
  left: 400px;
  top: 0px;
  background: #fed941;
  border-radius: 0px 1.75988px 1.75988px 0px;
}
.link {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
#value {
  position: absolute;
  display: flex;
  width: 80px;
  top: -100;
  color: white;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.562);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  border-radius: 15px;
}

#btn1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4.39971px 10.5593px;
  position: relative;
  width: 200px;
  height: 50px;
  left: 50px;
  top: -100px;
  background: #fed941;
  border-radius: 2px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}
#btn2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4.39971px 10.5593px;
  position: relative;
  width: 200px;
  height: 50px;
  left: 22%;
  right: 0%;
  top: -150px;
  bottom: 0%;
  background: #0c0e16;
  border: 0.439971px solid #fed941;
  box-sizing: border-box;
  border-radius: 1.75988px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 12px;
  text-align: center;
  color: #fed941;
}
.fas {
  color: yellow;
}
#fas2 {
  color: black;
}

#btn3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4.39971px 10.5593px;
  position: relative;
  width: 200px;
  height: 40px;
  right: 80px;
  top: 20px;
  background: #fed941;
  border-radius: 2px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 12px;
  text-align: center;
  color: #000000;
}
#btn4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4.39971px 10.5593px;
  position: relative;
  width: 200px;
  height: 40px;
  left: 35%;
  top: -20px;
  bottom: 0%;
  background: #0c0e16;
  border: 0.439971px solid #fed941;
  box-sizing: border-box;
  border-radius: 1.75988px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 12px;
  text-align: center;
  color: #fed941;
}
#value-card {
  font-size: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}
#Salir {
  font-size: 35px;
  margin-left: 470px;
}
#returnmas {
  color: white;
  text-decoration: none;
  font-size: 50px;
  margin-left: 2rem;
  margin-top: -3rem;
  display: flex;
  flex-direction: flex-end;
}
#lin {
  color: white;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
#table1 {
  color: white;
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
}

#table {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
}
#clear {
  display: flex;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  display: flex;
  width: 150px;
  height: 50px;
  top: 0px;
  background: black;
  color: #fed941;
  border-radius: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 23px;
}
#imgP {
  width: 150px;
  margin-left: 3rem;
  border-radius: 50%;
}
